.item {
  &:hover,
  &[data-hovered] {
    background-color: var(--mantine-color-coffee-1);
    color: var(--mantine-color-coffee-9);
  }

  &[data-disabled] {
    color: var(--mantine-color-coffee-3);
  }
}

.dropdown {
  border-color: var(--mantine-color-coffee-2);
}